.button {
    padding: 0.8rem 2rem !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button.active {
    background-color: #3e6ae1;
    color: #fff;
}

@media (max-width: 600px) {
    .button {
      padding: 0.4rem 1rem;
      font-size: 0.8rem;
    }
  }