@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}



.intro-section {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.beautiful-font,
.beautiful-font-italic {
  font-family: "Arial", sans-serif;
  color: #333;
}

.beautiful-font {
  font-size: 24px;
  font-weight: bold;
}

.beautiful-font-italic {
  font-size: 16px;
  font-style: italic;
  color: #665;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.button {
  padding: 0.1rem 0.3rem; /* adjust these values as needed */
  margin: 0.1rem; /* adjust this value as needed */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* align items to the start of the container */
  width: 100%; /* use the full width of the container */
}




